:root {
  --black: #000000;
  --white: #FFFFFF;
  --offWhite: #FBFFFE;
  --softHighlight: #ADB6C4;
  --strongHighlight: #14213D;
  --contrast: #CBDFBD;
  --altContrast: #5BBA6F;
  --harshContrast: #FCA311;
  --defaultReactBackground: #282c34;
}

.clickHere{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 2px solid var(--black);
  animation: wiggle 2s infinite;
  background-color: var(--white);
  cursor: pointer;
}

.mark{
  color: var(--altContrast);
}

.exit{
  position: absolute;
  bottom: 85%;
  left: 85%;
  width: 45px;
  z-index: 21;
}

.aboutText{
  background-color: var(--defaultReactBackground);
  color: var(--white);
  padding: 5px;
}

.popUp {
  border-radius: 5px 5px 5px 5px;
  border-width: 2px;
  border-style: solid;
  z-index: 20;
  background-color: var(--offWhite);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  height: 300px;
  margin-top: -150px;
  animation: border 1.5s infinite, enter .5s;
}

@media only screen and (max-width: 400px) {
  .popUp {
    width: 200px;
    margin-left: -100px;
    height: 500px;
    margin-top: -250px;
    padding: 20px;
  }
  .exit{
    bottom: 92%;
    left: 77%;
  }
}
  /* Animations */

@keyframes wiggle {
  0%{
    transform: rotate(0deg);
  }
  10%{
    transform: rotate(20deg)
  }
  20%{
    transform: rotate(-20deg)
  }
  30%{
    transform: rotate(10deg)
  }
  40%{
    transform: rotate(-10deg)
  }
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes border {
  0% {
    border-radius: 5px 5px 5px 5px;
    border-width: 2px;
    border-style: solid;
    border-top-color: var(--strongHighlight);
    border-right-color: var(--strongHighlight);
    border-bottom-color: var(--softHighlight);
    border-left-color: var(--softHighlight);
  }
  25%{
    border-radius: 5px 5px 5px 5px;
    border-width: 2px;
    border-style: solid;
    border-top-color: var(--softHighlight);
    border-right-color: var(--strongHighlight);
    border-bottom-color: var(--strongHighlight);
    border-left-color: var(--softHighlight);
  }
  50% {
    border-radius: 5px 5px 5px 5px;
    border-width: 2px;
    border-style: solid;
    border-top-color: var(--softHighlight);
    border-right-color: var(--softHighlight);
    border-bottom-color: var(--strongHighlight);
    border-left-color: var(--strongHighlight);
  }
  75%{
    border-radius: 5px 5px 5px 5px;
    border-width: 2px;
    border-style: solid;
    border-top-color: var(--strongHighlight);
    border-right-color: var(--softHighlight);
    border-bottom-color: var(--softHighlight);
    border-left-color: var(--strongHighlight);
  }
  100%{
    border-radius: 5px 5px 5px 5px;
    border-width: 2px;
    border-style: solid;
    border-top-color: var(--strongHighlight);
    border-right-color: var(--strongHighlight);
    border-bottom-color: var(--softHighlight);
    border-left-color: var(--softHighlight);
  }
}

@keyframes enter {
  0%{
    top: 100%;
    /* position: relative; */
  }
  100%{
    top: 50%;
    /* position: relative; */
  }
}