:root {
  --black: #000000;
  --white: #FFFFFF;
  --offWhite: #FBFFFE;
  --softHighlight: #ADB6C4;
  --strongHighlight: #14213D;
  --contrast: #CBDFBD;
  --altContrast: #5BBA6F;
  --harshContrast: #FCA311;
  --defaultReactBackground: #282c34;
}

.footerArea{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--defaultReactBackground);
  margin-bottom: 0px;
  width: 100%;
}
.footerArea p, .footerArea a{
  color: var(--offWhite)
}
.footerContent{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
@media only screen and (max-width: 700px) {
  .footerContent{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}