
.headerDropDownArea{
  display: flex;
  bottom: 100px;
  z-index: 25;
  flex-direction: column;
  position: absolute;
  top: 110px;
  left: 50%;
  height: 300px;
  width: 500px;
  background-color: var(--defaultReactBackground);
  animation: roll .75s ease;
  border-radius: 5px;
}
.headerDropDownArea h3{
  margin-top: 20px;
  margin-left: 5px;
  color: var(--offWhite)
}


@media only screen and (min-width: 700px) {
  .headerDropDownArea{
    display: none;
  }
}

/* Animations */
@keyframes roll {
  0%   {left:100% }
  100% {left: 50% }
}