:root {
  --black: #000000;
  --white: #FFFFFF;
  --offWhite: #FBFFFE;
  --softHighlight: #ADB6C4;
  --strongHighlight: #14213D;
  --contrast: #CBDFBD;
  --altContrast: #5BBA6F;
  --harshContrast: #FCA311;
  --defaultReactBackground: #282c34;
}
.headerDropDownArea{
  display: flex;
  bottom: 100px;
  z-index: 25;
  flex-direction: column;
  position: absolute;
  top: 110px;
  left: 50%;
  height: 300px;
  width: 200px;
  background-color: var(--defaultReactBackground);
  /* border-left: 1px solid  */
}
.headerDropDownArea h3{
  margin-top: 20px;
  margin-left: 5px;
  color: var(--offWhite)
}
@media only screen and (min-width: 700px) {
  .headerDropDownArea{
    display: none;
  }
}