@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.mainArea{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 1;
  /* margin-top: 20%; */
}
.popupFrame{
  width: 75%;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  border-left-color: lightgray;
  border-right-color: lightgray;
  border-width: 4px;
  border-style: solid;
  background-color: grey;
  animation: roll .75s; 
  animation-timing-function: ease;
  position: relative;
}
.pressableEnter{
  color: #E5E5E5;
}
.pressableEnter h2{
  font-family: 'Press Start 2P', cursive;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  font-size: xx-large;
}
@keyframes roll {
  0%   {left:100% }
  100% {left:0% }
}