:root {
  --black: #000000;
  --white: #FFFFFF;
  --offWhite: #E5E5E5;
  --softHighlight: #ADB6C4;
  --strongHighlight: #14213D;
  --contrast: #CBDFBD;
  --altContrast: #5BBA6F;
  --harshContrast: #FCA311;
}
.homepageArea{
  height: 100vh;
}
.linkArea{
  width: 100%;
  height: 30vh;
}
.backPart{
  width: 40%;
  height: 12vh;
  background-color: black;
  position: relative;
  left: 25%;
  right: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.frontPart{
  width: 20vh;
  height: 18vh;
  border-radius: 45%;
  /* bottom: 3vh; */
  position: relative;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}
.backPart:hover > .frontPart{
  animation: selected 1s ease;
  animation-iteration-count: initial;
}
.homepageText{
  color: var(--white);
  
}

@keyframes selected {
  0%{
    transform:rotate(0deg) scale(1,1);
  }
  50%{
    transform:rotate(360deg) scale(1.5, 1.5);
  }
  100%{
    transform: rotate(720deg) scale(1,1);
  }
}