:root {
  --black: #000000;
  --white: #FFFFFF;
  --offWhite: #FBFFFE;
  --softHighlight: #ADB6C4;
  --strongHighlight: #14213D;
  --contrast: #CBDFBD;
  --altContrast: #5BBA6F;
  --harshContrast: #FCA311;
  --defaultReactBackground: #282c34;
}

.mainArea{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 1;
}

.popupFrame{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  border-width: 4px;
  border-style: solid;
  border-left: none;
  border-right: none;
  animation: roll .75s ease, enterHover 1.5s infinite; 
  position: relative;
  background-color: var(--offWhite);
}
.popupContents{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.contentText{
  flex: 2;
  animation: fadeIn ease;
}
.briefAboutMe{
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
}
.briefChild{
  background-color: var(--contrast);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.images{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons{
  width: 64px;
  margin: 2px;
  animation: fadeIn ease;
}
.iconLinks{
  margin-top: 10px;
}
.portrait{
  width: 256px;
  animation: fadeIn ease;
}
.pressableEnter{
  color: var(--offWhite);
  padding: 10px;
  cursor: pointer;
}
.pressableEnter:active h2{
  -webkit-text-stroke-color: var(--harshContrast);
}
.pressableEnter h2{
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: var(--black);
  font-size: xx-large;
  text-shadow: var(--softHighlight)
}

/* Animations */
@keyframes roll {
  0%   {left:100% }
  100% {left:0% }
}

@keyframes enterHover {
  0% {
    border-radius: 5px 5px 5px 5px;
    border-width: 2px;
    border-style: solid;
    border-top-color: var(--strongHighlight);
    border-right-color: var(--strongHighlight);
    border-bottom-color: var(--softHighlight);
    border-left-color: var(--softHighlight);
  }
  25%{
    border-radius: 5px 5px 5px 5px;
    border-width: 2px;
    border-style: solid;
    border-top-color: var(--softHighlight);
    border-right-color: var(--strongHighlight);
    border-bottom-color: var(--strongHighlight);
    border-left-color: var(--softHighlight);
  }
  50% {
    border-radius: 5px 5px 5px 5px;
    border-width: 2px;
    border-style: solid;
    border-top-color: var(--softHighlight);
    border-right-color: var(--softHighlight);
    border-bottom-color: var(--strongHighlight);
    border-left-color: var(--strongHighlight);
  }
  75%{
    border-radius: 5px 5px 5px 5px;
    border-width: 2px;
    border-style: solid;
    border-top-color: var(--strongHighlight);
    border-right-color: var(--softHighlight);
    border-bottom-color: var(--softHighlight);
    border-left-color: var(--strongHighlight);
  }
  100%{
    border-radius: 5px 5px 5px 5px;
    border-width: 2px;
    border-style: solid;
    border-top-color: var(--strongHighlight);
    border-right-color: var(--strongHighlight);
    border-bottom-color: var(--softHighlight);
    border-left-color: var(--softHighlight);
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0
  }
  25%{
    opacity: 0
  }
  100%{
    opacity: 1
  }
}