.mainArea{
  text-align: center;
  display: felx;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 1;
  margin-top: 20%;
}
.popupFrame{
  width: 75%;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  border-left-color: lightgray;
  border-right-color: lightgray;
  border-width: 4px;
  border-style: solid;
  background-color: grey;
}

/* .popupFrame[mounted='1']{
  animation: roll .75s; 
  animation-timing-function: ease;
} */

@keyframes roll {
  0%   {left:500px }
  100% {left:0px }
}