:root {
  --black: #000000;
  --white: #FFFFFF;
  --offWhite: #FBFFFE;
  --softHighlight: #ADB6C4;
  --strongHighlight: #14213D;
  --contrast: #CBDFBD;
  --altContrast: #5BBA6F;
  --harshContrast: #FCA311;
  --defaultReactBackground: #282c34;
}
.homepageArea{
  height: 100vh;
  margin-top: 100px;
}
.linkArea{
  width: 100%;
  margin-bottom: 15vh;
  /* height: 30vh; */
}
.backPart{
  width: 50%;
  height: 12vh;
  background-color: var(--strongHighlight);
  position: relative;
  left: 25%;
  right: 25%;
  display: flex;
  border-radius: 5%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  flex-wrap: nowrap;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, var(--strongHighlight) 50%, var(--altContrast) 50%);
  -webkit-transition: background-position .5s;
  -moz-transition: background-position .5s;
  transition: background-position .5s;
}
.backPart:hover {
  background-position: -100% 0%;
}
.backPart:active{
  background-image: var(--altContrast);
}
.frontPart{
  width: 12vh;
  height: 12vh;
  transform: rotate(45deg);
  border-radius: 5%;
  outline: 2px solid var(--harshContrast);
  outline-offset: 10px;
  /* bottom: 3vh; */
  position: relative;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: none;
}
.backPart:hover > .frontPart{
  animation: selected 1s ease;
  animation-iteration-count: initial;
}
/* .linkArea:active > .backPart{
  animation: clicked 1s ease;
  animation-iteration-count: initial;
} */
.homepageText{
  color: var(--white);
  margin-right: 5%;
  margin-left: 10%;
}
.homepageIcon {
  transform: rotate(-45deg);
}


@media only screen and (max-width: 700px) {
  .backPart{
    flex-direction: column;
    height: 40vh;
    width: 60%;
    justify-content: space-evenly;
    text-align: center;
  }
}

/* Animations */
@keyframes selected {
  0%{
    transform:rotate(45deg) scale(1,1);
  }
  50%{
    transform:rotate(405deg) scale(1.5, 1.5);
  }
  100%{
    transform: rotate(765deg) scale(1,1);
  }
}