/* This container is for the "project" page component */
.projectsContainer{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}


.projectsContentArea{
  background-color: var(--offWhite);
  margin-top: 10vh;
}