
.projectsContentArea{
  background-color: var(--offWhite);
  height: 750px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 25px;
}
.projectsContentArea p{
  margin-top: 100px;
}