@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

:root {
  --black: #000000;
  --white: #FFFFFF;
  --offWhite: #FBFFFE;
  --softHighlight: #ADB6C4;
  --strongHighlight: #14213D;
  --contrast: #CBDFBD;
  --altContrast: #5BBA6F;
  --harshContrast: #FCA311;
  --defaultReactBackground: #282c34;
}
.App p{
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: large;
}
.App h3{
  font-weight: 700;
  font-family: "Exo", sans-serif;
  font-size: larger;
}
.App h2{
  font-family: 'Press Start 2P', cursive;
}